

*{
    padding: 0;
    margin: 0;
    color: white;
    background-color: black;
    font-family: Arial, sans-serif;
}
/* nav section */
.nav{
    display: flex; 
    justify-content: space-between;
     height: 4rem; 
     margin: 1.5rem 2rem; 
}

.left-nav{
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

button{
    padding: 0.6rem 1.1rem;
    margin-right: 10px;
    border: 2px solid rgb(207, 29, 184);
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-nav{
   
  }

.left-nav p{
    font-size: 2.5rem;

}


/* section 1 */

.section1{
    
  
   
}
.create-todo{
    width: 100%;
display: flex;
justify-content: center;
gap: 10px;
}
#crto{
    border: none;
    
    height: 2.5rem;
    width: 70%;
    background-color: white;
    box-shadow:  8px 8px 8px rgb(207, 17, 181);
    transition: box-shadow 0.3s ease;
}
.btn{
    width: 4rem;
    background-color: rgb(10, 10, 32);
  
}
.inp-btn {
    padding: 10px 20px;
    width: 120px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* section 2 */

.home{
    display: flex;
    flex-wrap: wrap;
    max-height: 500px;
    
}
.home img{
    width: 1.7rem;
    height: 1.7rem;
    display: none;
   
}
/* check */
/* Parent container for notes */


