<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="nav">
        <div class="left-nav">
            <img src="images/menu.png" alt="" srcset="">
            <p>keep</p>
        </div>
       

        <div class="ser">
            <input type="text" placeholder="Search.." name="" id="search">
        </div>
        <div class="left-nav">
            <img src="images/menu.png" alt="" srcset="">
            <img src="images/list view.png" alt="" srcset="">
            <img src="images/profile-user.png" alt="" srcset="">
        </div>
    </div>
<div class="section1">
    <div class="create-todo">
        <input placeholder="Take a note..." type="text" name="" id="crto">
        <button class="btn">add</button>
    </div>
</div>
<div class="section1 home">

    
</div>
    <script src="/javascript/index.js"></script>

</body>
</html>